flows/node-red-template.txt
[{"id":"6d054402.bae15c","type":"tab","label":"template","disabled":false,"info":""},{"id":"357aacf3.bb1a1c","type":"template","z":"6d054402.bae15c","name":"html template","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<table border=\"1\" width=\"500px\">\n    \n    \n    <thead>\n        <tr>\n            <th colspan=\"3\">Messages</th>\n        </tr>\n    </thead>\n    \n    \n    <tr>\n        <th class=\"red\">Message</th>\n        <th class=\"yellow\">Topic</th>\n        <th class=\"blue\" width=\"150\">Time & Date</th>\n\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{msg}}</td> \n            <td>{{topic}}</td>   \n            <td width=\"150\">{{time}}</td>\n        </tr>\n    {{/payload}}\n</table>\n<h4>Total Messages={{total}}</h4>\n","output":"str","x":300,"y":200,"wires":[["cd697280.7892e8"]]},{"id":"cd697280.7892e8","type":"ui_template","z":"6d054402.bae15c","group":"4a93a592.39efec","name":"Scrolling Messages","order":0,"width":0,"height":0,"format":"\n<style>\n    \n.red\n{\n    background-color:red;\n}\n.yellow\n{\n    background-color:yellow;\n}\n.blue\n{\n    background-color:blue;\n}\n</style>\n<div ng-bind-html=\"msg.payload\"  style=\"width:550px;height:400px\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":470,"y":280,"wires":[[]]},{"id":"1bef68be.08f577","type":"inject","z":"6d054402.bae15c","name":"","topic":"test","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["70471bb6.892d64"]]},{"id":"189fecce.8c76bb","type":"debug","z":"6d054402.bae15c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":60,"wires":[]},{"id":"70471bb6.892d64","type":"function","z":"6d054402.bae15c","name":"Display Messages","func":"var data=context.get('data')    [];\nvar count=context.get('count');\n\nvar payload=msg.payload;\nvar topic=msg.topic\nif(count==undefined)\n{\n    count=0;\n}\nvar d= new Date();\ncount+=1;\nnow=d.getTime();\nvar s= new Date(now);\nvar mtime=s.getDate()+\"/\"+(s.getMonth()+1)+\"/\" +s.getFullYear()+ \"- \"+ s.getHours() +\":\"+s.getMinutes()+\":\"+s.getSeconds();\nvar mdata={};\n\nmdata.msg=payload.slice(0,30) +\"   \"+ count;\nmdata.time=mtime;\ndata.push(mdata);\nnode.log(\"data \" + data.length);\nif(data.length>10)\n{\n    data.shift();\n}\nif(topic==\"reset\")\n{\ndata=[];\nnode.log(data)\ncount=0;\n}\n\ncontext.set('count',count);\ncontext.set('data',data);\nmsg1={};\n\nmsg1[\"payload\"]=data;\nmsg1.topic=topic;\nmsg1.total=count;\n\nreturn msg1;","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["357aacf3.bb1a1c","189fecce.8c76bb"]]},{"id":"80e0d7eb.2d341","type":"inject","z":"6d054402.bae15c","name":"reset","topic":"reset","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["70471bb6.892d64"]]},{"id":"4a93a592.39efec","type":"ui_group","z":"","name":"Test Messages","tab":"c4971399.f6246","disp":true,"width":"12","collapse":false},{"id":"c4971399.f6246","type":"ui_tab","z":"","name":"Demo","icon":"dashboard"}]